:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  --main-yellow: #FFCC00;
  --main-blue: #091C5A;
  --accent-blue: rgba(9, 28, 90, 0.35);
  --obscure: #000000;
  --white: #FFFFFF;
  --accent-yellow: #FEFEC6;

}
body {
  margin: 0;
  padding: 0;

}
#app {
  margin: 0 auto;
  text-align: center;
}
